

@media all and (min-width: 280px) {


    .fiveDay-container{
        height: 60vh;
        width: 80vw;
        display: flex;
        
    }
    
    .fiveDay-container .canvas-container{
        
        padding-top: 5vh;
        height: 50vh;
        width: 80vw;
        justify-content: flex-start;
       
        
    }


}


@media all and (min-width: 320px) {


    .fiveDay-container{
        height: 50vh;
        width: 90vw;
        display: flex;
        
    }
    
    .fiveDay-container .canvas-container{
        
        padding-top: 5vh;
        height: 50vh;
        width: 95vw;
        justify-content: flex-start;
        margin-right: 10vw;
       
        
    }


}


@media all and (min-width: 375px) {


    .fiveDay-container{
        height: 50vh;
        width: 82vw;
        display: flex;
        
    }
    
    .fiveDay-container .canvas-container{
        
        padding-top: 5vh;
        height: 50vh;
        width: 100%;
        justify-content: flex-start;
        margin-right: 10vw;
       
        
    }


}



@media all and (min-width: 425px) {


    .fiveDay-container{
        height: 50vh;
        width: 80vw;
        display: flex;
        
    }
    
    .fiveDay-container .canvas-container{
        
        padding-top: 5vh;
        height: 50vh;
        width: 100%;
        justify-content: flex-start;
        margin-right: 10vw;
       
        
    }


}


@media all and (min-width: 768px) {


    .fiveDay-container{
        height: 60vh;
        width: 86vw;
        display: flex;
        
    }
    
    .fiveDay-container .canvas-container{
        
        padding-top: 5vh;
        height: 60vh;
        width: 100%;
        justify-content: flex-start;
        margin-right: 10vw;
       
        
    }


}




@media all and (min-width: 1024px) {


    .fiveDay-container{
        height: 60vh;
        width: 90vw;
    }
    
    .fiveDay-container .canvas-container{
    
        padding-top: 5vh;
        height: 55vh;
        width: 77vw;
        padding-left: auto;
        padding-right: auto;
        
    }


}


@media all and (min-width: 1440px) {


    .fiveDay-container{
        height: 75vh;
        width: 90vw;
      
        
    }
    
    .fiveDay-container .canvas-container{
        

        padding-top: 10vh;
        height: 62vh;
        width: 58vw;
        padding-left: auto;
        padding-right: auto;
        
    }


}