#favorites-container {
  background: url(../../resources/pink-landscape.png) no-repeat;
  overflow: scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
}

.favorites-data {
  text-align: center;
  height: 10vh;
  width: 100vw;
  align-content: center;
  color: #eae6ec;
  text-shadow: 1px 1px #212021;
  margin-bottom: 6%;
  background-color:RGBA(43,45,66,0.65);
}

.favorites-data h1 {
  font-size: 3vw;
}

.favorites-data h2 {
  font-size: 2vw;
}

.favorites-data h3 {
  font-size: 2vw;
}

@media all and (min-width: 280px) {
  #favorites-container .favorites-data {
  
    margin-bottom: 0.01vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
  }

  #favorites-container .favorites-data h1 {
    font-size: 11vw;
  }
  #favorites-container .favorites-data h2 {
    font-size: 9vw;
  }
  #favorites-container .favorites-data h3 {
    font-size: 9vw;
  }

  #favorites-container .favorites-data .btn-danger {
    margin: 2%;
    font-size: 4vw;
  }
}

@media all and (min-width: 320px) {
  #favorites-container .favorites-data {
    
    margin-bottom: 0.01vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
  }

  #favorites-container .favorites-data h1 {
    font-size: 10vw;
  }
  #favorites-container .favorites-data h2 {
    font-size: 9vw;
  }
  #favorites-container .favorites-data h3 {
    font-size: 9vw;
  }
}

@media all and (min-width: 375px) {
  #favorites-container .favorites-data {
    margin-top: 11vh;
    margin-bottom: 1vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
  }

  #favorites-container .favorites-data h1 {
    font-size: 8vw;
  }
  #favorites-container .favorites-data h2 {
    font-size: 6vw;
  }
  #favorites-container .favorites-data h3 {
    font-size: 6vw;
  }
}

@media all and (min-width: 425px) {
  #favorites-container .favorites-data {
   
    margin-bottom: 0.3vh;
   
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
  }

  #favorites-container .favorites-data h1 {
    font-size: 8vw;
  }
  #favorites-container .favorites-data h2 {
    font-size: 6vw;
  }
  #favorites-container .favorites-data h3 {
    font-size: 6vw;
  }
}

@media all and (min-width: 768px) {


  #favorites-container .favorites-data {
    margin-top: 2.5vh;
    margin-bottom: 0.3vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
  }

  #favorites-container .favorites-data h1 {
    font-size: 8vw;
  }
  #favorites-container .favorites-data h2 {
    font-size: 6vw;
  }
  #favorites-container .favorites-data h3 {
    font-size: 6vw;
  }

  #favorites-container .favorites-data .btn-danger {
    margin: 2%;
    font-size: 3vw;
  }
}

@media all and (min-width: 1024px) {
  #favorites-container .favorites-data {
  
  
    margin-bottom: 0.3vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;

  }

  #favorites-container .favorites-data h1 {
    font-size: 6vw;
  }
  #favorites-container .favorites-data h2 {
    font-size: 4vw;
  }
  #favorites-container .favorites-data h3 {
    font-size: 4vw;
  }

  #favorites-container .favorites-data .btn-danger {
    margin: 2%;
    font-size: 2vw;
  }
}

@media all and (min-width: 1440px) {
  #favorites-container .favorites-data {


    margin-bottom: 3vh;
    background-color:RGBA(43,45,66,0.65);
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;

  }

  #favorites-container .favorites-data h1 {
    font-size: 6vw;
  }
  #favorites-container .favorites-data h2 {
    font-size: 4vw;
  }
  #favorites-container .favorites-data h3 {
    font-size: 4vw;
  }

  #favorites-container .favorites-data .btn-primary {
    margin: 4%;
    font-size: 3vw;
  }
}

@media all and (min-width: 1920px) {
  #favorites-container .favorites-data {
    margin-bottom: 0.03vh;
    background-color:RGBA(43,45,66,0.65);
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    width: 25vw;

  }

  #favorites-container .favorites-data h1 {
    font-size: 4vw;
  }
  #favorites-container .favorites-data h2 {
    font-size: 3vw;
  }
  #favorites-container .favorites-data h3 {
    font-size: 3vw;
  }

  #favorites-container .favorites-data .btn-danger {
    margin: 1%;
    font-size: 1vw;
  }
}
