.home-container {
  background: url(../../resources/pink-landscape.png) no-repeat;
  overflow: scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
}

.home-container .container-data {
  text-align: center;
  height: 25vh;
  width: 100vw;
  align-content: center;
  color: #eae6ec;
  text-shadow: 1px 1px #212021;
  margin-bottom: 25%;
}

.home-container .container-data h1 {
  font-size: 7vw;
}

.home-container .container-data h2 {
  font-size: 5vw;
}

.home-container .container-data h3 {
  font-size: 5vw;
}

.btn-primary {
  margin: 1%;
}

@media all and (min-width: 280px) {

  .home-container .container-data {
    margin-bottom: 12vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    
  }

  .home-container .container-data h1 {
    font-size: 15vw;
  }
  .home-container .container-data h2 {
    font-size: 12vw;
  }
  .home-container .container-data h3 {
    font-size: 12vw;
  }
}

@media all and (min-width: 320px) {
  .home-container .container-data {
    
    margin-bottom: 17vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }

  .home-container .container-data h1 {
    font-size: 15vw;
  }
  .home-container .container-data h2 {
    font-size: 12vw;
  }
  .home-container .container-data h3 {
    font-size: 12vw;
  }

  .home-container .container-data .button-form{
    display: flex;
    justify-content: space-around;
    
  }
}

@media all and (min-width: 375px) {

  .home-container .container-data {
    margin-bottom: 25vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }

  .home-container .container-data h1 {
    font-size: 15vw;
  }
  .home-container .container-data h2 {
    font-size: 13vw;
  }
  .home-container .container-data h3 {
    font-size: 13vw;
  }

  .home-container .container-data .btn-primary {
    margin: 9%;
    font-size: 7vw;
  }

  .home-container .container-data .button-form{
    display: flex;
    justify-content: space-around;
  }
}

@media all and (min-width: 425px) {

  .home-container .container-data {
    margin-bottom: 20vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
  }

  .home-container .container-data h1 {
    font-size: 9vw;
  }
  .home-container .container-data h2 {
    font-size: 7vw;
  }
  .home-container .container-data h3 {
    font-size: 7vw;
  }

  .home-container .container-data h4{
    font-size: 5vw;
  }

  .home-container .container-data .btn-primary {
    margin: 9%;
    font-size: 7vw;
  }
  .home-container .container-data .button-form{
    display: flex;
    justify-content: space-around;
  }
}

@media all and (min-width: 768px) {
  
  .home-container .container-data {
    margin-bottom: 17vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
  }

  .home-container .container-data h1 {
    font-size: 9vw;
    padding-top: 4vh;
  }
  .home-container .container-data h2 {
    font-size: 7vw;
  }
  .home-container .container-data h3 {
    font-size: 7vw;
  }

  .home-container .container-data h4{

    font-size: 5vw;
  }

  .home-container .container-data .btn-primary {
    margin: 9%;
    font-size: 5vw;
  }

  .home-container .container-data .button-form{
    display: flex;
    justify-content: space-around;
  }
}

@media all and (min-width: 1024px) {

  

  .home-container .container-data {
    margin-top: 25vh;
    margin-bottom: 10vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
  }

  .home-container .container-data h1 {
    font-size: 6vw;
  }
  .home-container .container-data h2 {
    font-size: 4vw;
  }
  .home-container .container-data h3 {
    font-size: 4vw;
  }

  .home-container .container-data h4{

    font-size: 2vw;
  }



  .home-container .container-data .btn-primary {
    margin: 5%;
    font-size: 4vw;
  }

  .home-container .container-data .button-form{
    display: flex;
    justify-content: space-around;
  }
}

@media all and (min-width: 1440px) {

  .home-container .container-data {

    margin-bottom: 10vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
  }

  .home-container .container-data h1 {
    font-size: 6vw;
  }
  .home-container .container-data h2 {
    font-size: 4vw;
  }
  .home-container .container-data h3 {
    font-size: 4vw;
  }

  .home-container .container-data h4{
    
    font-size: 2vw;
  }

  .home-container .container-data img{
   
    height: 10vh;
  }

  .home-container .container-data .btn-primary {
    margin: 4%;
    font-size: 4vw;
  }
  
  .home-container .container-data .button-form{
    display: flex;
    justify-content: space-around;
  }
}

@media all and (min-width: 1920px) {
  
  .home-container .container-data {
    margin-bottom: 10vh;
    background-color:RGBA(43,45,66,0.65);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
  }

  .home-container .container-data h1 {
    font-size: 5vw;
  
  }
  .home-container .container-data h2 {
    font-size: 3vw;
  }
  .home-container .container-data h3 {
    font-size: 3vw;
  }

  .home-container .container-data h4 {
    font-size: 1vw;
  }

  .home-container .container-data img{
   
    height: 10vh;
  }

  .home-container .container-data .btn-primary {
    margin: 4vw;
    font-size: 3vw;
  }

  .home-container .container-data .button-form{
    display: flex;
    justify-content: space-around;
  }

 
}
